<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">
	
	<context:component-scan base-package="${headers.pckg}" />
    
    <bean id="${headers.pckg}Bean" class="jammazwan.${headers.pckg}.${headers.FileNamePrefix}Bean"/>
    <bean id="${headers.pckg}Processor" class="jammazwan.${headers.pckg}.${headers.FileNamePrefix}Processor"/>
    <bean id="${headers.pckg}Routes" class="jammazwan.${headers.pckg}.${headers.FileNamePrefix}Routes"/>

    <camelContext id="${headers.pckg}" xmlns="http://camel.apache.org/schema/spring">
        <routeBuilder ref="${headers.pckg}Routes"/>
    </camelContext>

</beans>
